In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df_actual = pd.read_csv('bolsa_minidataframe.csv')

In [14]:
df_actual.head()

       Date      Open      High       Low     Close
0  07/25/22  31950.93  32029.03  31821.67  31990.04
1  07/22/22  32167.92  32219.25  31731.47  31899.29
2  07/21/22  31826.49  32040.63  31534.08  32036.90
3  07/20/22  31829.99  31944.45  31646.95  31874.84
4  07/19/22  31165.91  31842.25  31165.91  31827.05

In [8]:
# Asignamos nombres a las columnas
columns = ['Date','Open','High','Low','Close']
df_actual.columns = columns

In [12]:
# Eliminaci√≥n de datos repetidos
df_actual = df_actual.drop_duplicates()